/* Feel free to remove these styles or customise in your own stylesheet 👍 */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: hsl(212, 23%, 69%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 { line-height: 35px;}
h1, h2 {
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

#main {
    background-color: white;
    width: 60vw;
    height: 50vh;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

#profile-info {
    display: grid;
    grid-template-columns: 15% auto 10%; 
}

#profile {
    border-radius: 50%;
    height: 55px;
}

#profile-info h2 {
    margin: 0 0 5px 0;
}

#share {
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#share:hover {
    cursor: pointer;
}

#icon {
    height: 15px;
    fill: hsl(217, 19%, 35%);
}

#draw-container {
    overflow: hidden;
}

#drawers {
    height: 100%;
}

#right-container {
    padding: 40px;
    display: grid;
    grid-template-rows: 40% 40% 20%;
}

#right-container p {
    line-height: 25px;
    font-size: 18px;
}

#popup {
    background-color: hsl(217, 19%, 35%);
    width: 320px;
    height: 45px;
    padding: 10px 20px;
    position: absolute;
    right: 180px;
    top: 48vh;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#popup p {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 8px;
    margin: 0 15px;
    text-align: center;
}
 
.social-icon {
    color: white;
    margin: 0 10px;
    height: 25px;
}

#triangle {
    position: relative;
    right: 145px;
    top: 40px;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 30px solid hsl(217, 19%, 35%);
}

@media screen and (max-width: 375px) {
    #main {
        width: 85vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
    }

    #drawers { 
        width: 100%;
        height: 120%;
    }

    h1 {
        font-size: 17px;
        line-height: 22px;
    }

    h2 {
        font-size: 16px;
    }

    #right-container {
        padding: 20px;
        grid-template-rows: 30% 50% 20%;
    }

    #right-container p {
        line-height: 20px;
        font-size: 13px;
    }

    #profile-info {
        grid-template-columns: 15% auto 15%;
        grid-gap: 15px;
    }

    #profile { height: 35px;}

    #share {
        height: 35px;
        width: 35px;
    }
    #triangle {
        display: none;
    }
}